html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.form {
    margin: 40px;
    padding: 5px;
    border: 1px solid dodgerblue;
    display: grid;
    align-items: center;
    justify-content: center;
}
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(32, 113, 233);
    border-radius: 30px;
    background: #f1f1f1;
}
label{
    padding: 10px;
}
.submitButton {
    background-color:  rgb(107, 165, 253);
    color: white;
    border: 4px solid rgb(107, 165, 253);
    cursor: pointer;
    width: 70%;
    padding: 10px;
    opacity: 0.9;
  }
  
  .submitButton:hover {
    opacity: 70%;
  }
