html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
 * {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 2px 0 20px 0;
  display: inline-block;
  border: 1px solid rgb(32, 113, 233);
  border-radius: 30px;
  background: #f1f1f1;
  margin-bottom: 10px;
}
.address{
    width: 80%;
}
.Thankyouimage{
  display: flex;
  justify-content: center;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
input[type=date]{
  width: 230px;
  padding: 10px;
  border:1px solid  rgb(32, 113, 233);
  border-radius: 40px;
  font-size: 16px;
  margin-bottom: 10px;
}
input[type=comment]{
  width: 300px;
  height: 150px;
  border: 1px solid rgb(32, 113, 233);
  border-radius: 10px;
}
input[type=radio]{
  display: flex;
  flex-direction: column;
}
.radioB{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
body{
  align-items: center;
  justify-content: center;
}
.form {
  width: 70%;
  margin-left: 15%;
  padding: 5px;
  border: 1px solid dodgerblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  "left right"
  "bottom bottom";
}
.form label{
  display: flex;
  flex-direction: column;
}
#leftBox {
  grid-area: left;
}
#rightBox {
  grid-area: right;
}
.formBottom {
  grid-area: bottom;
}
button {
  background-color: rgb(107, 165, 253);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity: 80%;
}
.cancelbtn {
  background-color: #ff7a70;
}
.submitbtn{
    background-color: rgb(32, 113, 233);
}

.cancelbtn, .submitbtn {
  float: left;
  width: 10%;
  padding: 15px;
  color: white;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 50%;
  }
}

nav{
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
}

}
.dropContent{
    font-size: 13px;
    background-color: white;
    display: none;
    position: absolute;
    min-width: 195px;
    box-shadow: 3px 13px 23px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropContent a{
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
a{
    text-decoration: none;
  }
.aboutShelter{
    font-size: 20px;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 20px;
}
.fosterP{
    font-size: 18px;
}
  .dropContent a:hover {
    color:rgb(32, 113, 233);
    font-size: 18px;
}
.dropdown:hover .dropContent {
    display: block;
}
.dropdown:hover .dropButton:hover {
    color:rgb(19, 72, 185);
}
.dropButton{
  padding: 10px;
  font-size: 18px;
  border: none;
  color: rgb(32, 113, 233);
  background-color: white;
  cursor: pointer;
}
h1{
    text-align: center;
    color: rgb(19, 72, 185);
}
h3{
    text-align: center;
    color:rgb(32, 113, 233);
}
footer{
    margin-left: 80px;
    display: flex;
    flex-direction: row;
}
